.coinsights-container{
    width: 100%;
}

.search{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100%;
    margin-bottom: 25px;
}

.coin-input{
    width: 200px;
    /* padding: 5px 5px; */
    /* border-radius: 8px; */
    outline: none;
}

.search-icon{
    font-size:x-large;
    margin-left: 10px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.display_coin{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}