.coin-container{
    display: flex;
    justify-content: center;
    width: 80%;
    
}

.coin-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 90px;
    border-bottom: 1px solid #000;
    width: 100%;
    margin-bottom: 10px;
}

.coin{
    display: flex;
    align-items: center;
    padding-right: 24px;
    /* min-width: 300px; */
    width: 50%;
}

.coin h1{
    font-size: 16px;
    /* width: 15px; */
}

.coin img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol{
    text-transform: uppercase;
}

.coin-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.red{
    color: red;
}

.green{
    color: green;
}

@media (max-width: 768px) {
    .coin-symbol{
        display: none;
    }

    .coin-row{
        width: 100%;
    }
}

@media (max-width: 556px) {
    .coin-symbol{
        display: none;
    }

    .coin-container{
        width: 100%;
    }

    .coin-row{
        width: 90%;
    }
}