.home-container{
    /* background-color: #1B1B1D; */
    height: 100vh;
}

.hero-container{
    background-color: #fff;
    /* background-color:aliceblue; */
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 92.5vh;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color: #fff; */
    margin-left: 30px;
    padding: 10px;
    text-align: justify;
    width: 50%;
    
}

.web-name{
    display: flex;
    justify-content: flex-start;
    font-size:x-large;
    font-weight: 700;
    color: #007BFF;
}

.lines{
    font-size: medium;
}

.hero-image1{
    display: none;
}
.hero-image{
    width: 50%;
    display: flex;
    justify-content: center;
}
.hero-image img{
    width: 250px;
    height: 200px;
    margin: 0 10px;
    /* border-radius: 200px; */
    /* background-color: #fff; */
    
}

.btn-cont{
    position: absolute;
    display: flex;
    /* background-color: #000; */
    top: 400px;
    left: 40px;
}

.btn{
    /* background-color: #007BFF; */
    
}

.trending-btn{
    margin-right: 3px;
    /* background-color: #007BFF; */
}

.insight-btn{
    /* background-color: aqua; */
}


@media (max-width: 642px) {
    
    .hero-container{
        flex-direction: column;
    }
    .hero-image{
        display: none;
    }

    .hero-image1{
        display: flex;
    justify-content: center;
    }

    .hero-container{
        justify-content: center;
    }

    .hero-text{
        width: 90%;
        margin: 10px;
    }
}